name: Tests

on: 
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@v1
    with:
      flutter_channel: "stable"
      flutter_version: "3.0.1"
      test_recursion: true
      min_coverage: 0
